* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Fredoka', sans-serif;
    color: white;
}

.container {
    padding: 30px 150px;
    margin: auto;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
    max-width: 80%;
    margin: auto;
}





h1 {
    text-align: center;
    padding-bottom: 60px;
    color: #e53170;
}

.text {
    text-align: center;
    color: black;
}

.card {
    width: calc(100% / 3);
    padding-left: 20px;
    margin-top: 40px;
}

.card img {
    max-width: 100px;
}

.info {
    background-color: black;
    height: 100px;
    padding-left: 90px;
    padding-top: 5px;
    width: 320px;
}

.info .name {
    padding: 10px 0 5px 20px;
    font-weight: 800;
    text-transform: uppercase;
}


.info .job {
    padding: 2px 0 5px 20px;
}

.info .website {
    padding: 5px 0 5px 10px;
    color: #3fc4ee;
}

a {
    text-decoration: none;
}