* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}




.card {
    background-color: red;
    border: 1px solid #000;
    width: calc(100% / 3 );
    padding: 20px;
}

.photo {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.info {
    background-color: green;
}