* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Fredoka', sans-serif;
    color: white;
}

.container {
    padding: 30px 150px;
    margin: auto;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
    max-width: 80%;
    margin: auto;
}





h1 {
    text-align: center;
    padding-bottom: 60px;
    color: #e53170;
}

.text {
    text-align: center;
    color: black;
}

.cards {
    margin-top: 40px;
}

.card {
    width: calc(100% / 3 - 30px);
    margin: 15px;
    min-width: 345px;
    box-shadow:  5px  5px 5px #dedede,
              -5px -5px 5px #dedede,
               5px -5px 5px #dedede,
              -5px  5px 5px #dedede;
}

.card img {
    width: 100px;
}

.info {
    width: calc(100% - 100px);
    background-color: black;
    padding: 10px 0 10px 15px;
    height: 100px;
}

.info .name {
    padding-bottom: 10px;
    font-weight: 800;
    text-transform: uppercase;
}


.info .job {
    padding-bottom: 10px;
    font-size: 14px;
}

.info .website {
    color: #3fc4ee;
    font-size: 14px;
}

a {
    text-decoration: none;
}